*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: brown;
    width: 20vw;
}
.main{
    background-color: yellow;
    width: 80vw;
}
.container{
    display: flex;
}

body {
    background-color: #f1f1f1;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  section {
    background-color: #fff;
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }